#loader{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
}

.proj {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.repbut{
  text-decoration: none;
    color:#000925;
    border: 1px black solid;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
  
}

.repbut:hover {
  background-color: orange;
  text-decoration: none;
}


.delete-btn{
  position: relative;
}

#loadi {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  margin-top: 9%;
  margin-bottom: 10%;
  color: #000925;
  flex-direction: column;
}

.project-details {
  margin-top: 8%;
  text-align: center;
  margin-bottom: 10%; 
}

.project-details h1{
  font-size: 35px;
  color: #000925;
  margin-bottom: 20px;
  text-decoration: underline;
}

.reports-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 300px));
  row-gap: 70px;
  column-gap: 30px;
  list-style: none; 
  padding: 0 25px;
}

.report-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 10px 0; 
  padding: 15px;
  border: 1px solid #ddd; 
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  background: rgba(255, 255, 255, 0.7); 
  backdrop-filter: blur(10px); 
  -webkit-backdrop-filter: blur(10px);
  height: 115%;
}

.report-item h2 {
  margin-bottom: 5px;
  color: #333; 

}

.report-item p {
  margin: 5px 0;
  color: #666; 
  width: 90%;
  height: 55%;
}

.download{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
  width: 100%;
}




@media all and (max-width: 430px),
  all and (max-width: 414px),
  all and (max-width: 375px),
  all and (max-width: 320px) {
  
  .project-page {
    margin: 0px;
    padding: 10px;  
  }

  .project-details{
    margin-top: 20%;  
    text-align: center;
    height: auto;
    margin-bottom: 40%;
  }

  #loadi {
    font-size: 18px;  
    margin-top: 20%;
    margin-left: 10px;  
  }

  .project-page h2 {
    font-size: 18px;  
  }

  .project-page p {
    font-size: 12px;  
  }

  .project-page .image-gallery {
    flex-direction: column;
    align-items: center;
    width: 100%;  
  }

  .project-page .image-gallery img {
    max-width: 90%;  
    height: auto;
  }

  .project-page .reports-list .report-item {
    padding: 10px;  
    height: auto;  
  }

  .project-page .reports-list .report-item h2 {
    font-size: 14px;  
  }

  .project-page .reports-list .report-item p {
    font-size: 12px;  
  }

  .project-page .reports-list .report-item a {
    font-size: 14px;  
  }

  #load {
    font-size: 22px;
    margin-top: 25%;  
  }


  .repbut {
    font-size: 14px;  
    margin-top: 15px;  
  }

  .delete-btn {
    font-size: 12px; 
  }

  .download {
    gap: 5%;  
  }


  .reports-list {
    grid-template-columns: repeat(2, minmax(150px, 200px));  
    padding: 0 10px;  
    column-gap: 5%;
    row-gap: 15%;
  }
}
